@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ===============================CSS variables======================================== */
:root{
    --ff-normal:"Roboto", sans-serif;
    --ff-stylish:"Playfair Display", serif;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-normal);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
/* =======================================Navbar section=========================== */
body{
    background-color: hsl(213, 44%, 95%);
    line-height: 1.5;
}
nav{
    background: hsl(213, 44%, 95%);
}
.navbar-brand{
    margin-left: 100px;
}
.nav-link{
    font-size: 16px;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
}
.nav-link:hover{
    color: #0049ff !important;
}

.search-btn{
    border: none;
    background-color: hsl(213, 44%, 95%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #000;
    border: 2px solid #000;
    margin-right: 100px;
}
@media (max-width:768px){
    .search-btn{
    width: 100%;
    border-radius: 0px;
    height: auto;
    font-size: 20px;
    }
}


/* =======================================header section=========================== */
.left-header{
    margin-top: 100px; 
    line-height: 1.8;
}
.left-header h5{
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1.5;
    color: hsl(240, 1%, 35%);
}
.left-header h1{
    font-size: 96px;
    font-weight: 700;
    line-height: 1.33;
    color: #323131;
    font-family: var(--ff-stylish);
}
.left-header button{
    background-color: #0049ff;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: .5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .4s linear;
}
.left-header button:hover{
    background-color: #002070;
}
.left-header .social{
    padding-bottom:10px; 
}
.left-header i{
    color:hsl(214, 15%, 59%);
    font-size: 20px;
}
.right-header .hi-there{
    position: relative; 
    top: 130px;
    left: 80px;
}
.right-header .profile-img{
    margin-top: -95px;
}

@media (max-width:767px){
    .left-header{
        padding-top: 0px; 
        text-align: center;
    }
    .left-header h5{
        font-size: 20px;
    }
    .left-header h1{
        font-size: 65px;
    }
    .left-header .social i{
        text-align: center;
    }
    .right-header .hi-there{ 
        display: none;
    }
    .right-header .profile-img{
        margin-top: 20px;
    }
}
@media (max-width:450px){
    .left-header h1{
        font-size: 45px;
        
    }
}
@media only screen and (min-width: 768px) and (max-width: 1232px){
    .right-header .hi-there{ 
        display: none;
    }
}

/* =======================================aboutsection=========================== */
#about{
    background-color: #fff;
}
.about-text h5{
    margin-bottom: 30px;
    color: hsl(214, 15%, 59%);
    font-size: 20px;
    font-weight: 400;
}
.about-text h1{
    font-family: var(--ff-stylish);
    font-size:48px ;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
    letter-spacing: .6px;
    max-width: 450px;
}
.about-text h4{
    color: hsl(214, 15%, 59%);
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 1.75;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family: var(--ff-stylish);
    max-width: 440px;
}

.about-text p{
    color: #585858;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.7;
    max-width: 480px;
}
@media (max-width:768px){
    .about-text h5{
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .about-text h1{
        font-size:40px ;
        width: 100%;
    }
    .about-text p{
        width: 100%;
    }  
}
@media (max-width:345px){
    .about-text h1{
        font-size:30px ;
    }
}


/* =======================================service section=========================== */
#service{
    background-color: #fff;
}
#service img{
    width: 110px;
    height: 110px;
    margin-top: 50px;
}
#service h1{
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;
}
#service h1:hover{
    color: #0049ff;
}
#service p{
    color:#767575;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 15px;
}
.card{
    border: none;
    transition: all .3s linear;
    padding: 10px 30px;
}
.card:hover{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    transform-style: preserve-3d;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.126);
}
#service a{
    text-decoration: none;
    padding-bottom:30px;
    color: #767575;
    font-size: 18px;
}
#service a:hover{
    color: #0049ff;
}
/* =======================================portfolio section=========================== */
#portfolio{
    background-color:#fff;
}

#portfolio h4{
    color: #0049ff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#portfolio h1{
    font-family: var(--ff-stylish);
    font-size: 70px;
    font-weight: 700;
}
@media only screen and (max-width:550px){
    #portfolio h1{
        font-size: 45px;
    }
}
#portfolio h5{
    color: #0049ff;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}
#portfolio h2{
    font-size: 25px;
}
.my-card{
    height: 100%;
    padding: 20px 20px 25px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.12);
    flex: 1 1 30%;
    margin: 0 1%; /* Adjust margin as needed */
    overflow: hidden;
    position: relative;
}

#portfolio img{
    width: 400px;
}
@media (max-width: 678px) {
    .my-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
} 
/* =======================================resume section=========================== */
#resume{
    background-color: #fff;
    padding-top:60px ;
}
#resume h4{
    color: #0049ff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#resume h1{
    font-family: var(--ff-stylish);
    font-size: 70px;
    font-weight: 700;
}
@media only screen and (max-width:550px){
    #resume h1{
        font-size: 45px;
    }
}
.resume-content{
    padding: 20px 20px 0px 20px;
    cursor: pointer;
}
.resume-content h5{
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.resume-content h5 span{
    color: #0049ff;
}
.resume-content h3{
    color: #767575;
    font-size: 24px;
    padding-bottom: 15px;
}
.resume-content h3 span{
    font-size: 14px;
    color: black;
}
.resume-content p{
    font-size: 17px;
    color: #767575;
    padding-bottom: 15px;
}
.resume-content hr{
    height: 3px;
}
.resume-content:hover hr{
    color:blue;
}
.resume-content:hover{
    box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.12);
}
.skill-image-1{
    background-color: hsl(14, 100%, 91%);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.skill-image-2{
    background-color: hsl(320, 87%, 94%);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.skill-image-3{
    background-color: hsl(47, 94%, 93%);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;

}
.skill-image-4{
    background-color: hsl(0, 72%, 93%);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;

}
.skill-image-5{
    background-color: hsl(205, 100%, 90%);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.round-text i{
    font-size: 18px;
    padding-bottom: 20px;
}
.round-text h5{
    color: hsl(0, 0%, 16%);
    font-size: 36px;
    font-style:italic;
    font-family: var(--ff-stylish);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 30px;
}
.round-text h3{
    font-family: var(--ff-stylish);
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin-left: 50px;
}
.round-text h3::before{
    position: absolute;
    content: "";
    background-color: #0049ff;
    height: 3px;
    width:30px;
    top: 10px;
    left: -40px;
}
/* =======================================blog section=========================== */
#blog{
    background-color: #fff;
}
#blog h4{
    color: #0049ff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#blog h1{
    font-family: var(--ff-stylish);
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 3rem;
}
@media only screen and (max-width:767px){
    #blog h1{
        font-size: 45px;
    }
}
#blog a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    text-transform: uppercase;
    position: relative;
    transition: all .3s linear;
}
#blog a::before{
    position: absolute;
    content: "";
    background-color: #0049ff;
    width:0px;
    height: 2px;
    bottom: 0;
}
#blog a:hover::before{
    width: 90px;
}

#blog h2{
    font-family: var(--ff-stylish);
    color: #000;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}
#blog h2:hover{
    color: #0049ff;
}
.overflow-img{
    overflow: hidden;
}
#blog img{
    transition: all .3s linear;
}
#blog img:hover{
    transform: scale(1.1);
}
/* =======================================contact section=========================== */
#contact{
    background-color: #fff;
}
#contact h4{
    color: #0049ff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 3rem;
}
#contact h1{
    font-family: var(--ff-stylish);
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 3rem;
}
@media only screen and (min-width: 576px) and (max-width: 990px){
    .cont-details h1{
        font-size: 45px;
    }
}
@media only screen and (max-width:767px){
    #contact h1{
        font-size: 45px;
    }
    .cont-details h1{
        font-size: 45px;
    }
}
.cont-details h1{
    font-size: 64px;
    color: #323131;
}
.cont-details h5{
    color: #757171;
    font-size: 18px;
    margin-bottom: 3.5rem;
}
.cont-details h6,
.cont-details h2{
    color: #464646;
    font-size: 18px;
    font-weight: 400;
}
.cont-details i{
    color: #0049ff;
    font-size: 25px;
}
.form-button a{
    text-decoration: none;
    background-color: #0049ff;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: .5rem;
}
.form-button{
    margin-top: 60px;
}
.map-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%; /* Adjust the width as needed */
    height: 80%;
    transform: translateX(-50%); /* Centers the iframe horizontally */
    border: 0;
    border-radius: 15px;
}
/* =======================================footer section=========================== */
.footer h5 {
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 23px;
}

.footer img{
    margin-bottom: 25px;
}
.footer-column {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.footer-column:last-child {
    border-right: none;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a{
    color: #000;
}
.footer ul li a:hover {
    text-decoration: underline;
}